<?xml version="1.0" encoding="UTF-8"?>
<agent-input acceptLicense='true'>
  <server>
    <repository location='{{ __was_tmp_dir }}'/>
    <repository location='{{ __java_tmp_dir }}'/>
  </server>
  <profile id='IBM WebSphere Application Server V9.0' installLocation='{{ __was_install_location }}'>
    <data key='cic.selector.arch' value='x86_64'/>
    <data key='cic.selector.nl' value='zh_TW,zh_HK,en,zh'/>
  </profile>
  <install modify='false'>
  <!-- IBM WebSphere Application Server Network Deployment -->
    <offering id='com.ibm.websphere.ND.v90' profile='IBM WebSphere Application Server V9.0' features='core.feature,ejbdeploy,thinclient,embeddablecontainer,samples' installFixes='none'/>
    <!-- IBM SDK, Java Technology Edition, Version 8 8.0.8.15 -->
    <offering profile='IBM WebSphere Application Server V9.0' id='com.ibm.java.jdk.v8' version='{{ __java_version }}' features='com.ibm.sdk.8'/>

  </install>
  <preference name='com.ibm.cic.common.core.preferences.eclipseCache' value='{{ __imshared_location }}'/>
</agent-input>
