<?xml version='1.0' encoding='UTF-8'?>
<agent-input>
  <variables>
    <variable name='sharedLocation' value='{{ __imshared_location }}'/>
  </variables>
  <server>
    <repository location='{{ __tmp_dir }}'/>
    <repository location='{{ __java_tmp_dir }}'/>
  </server>
  <profile id='IBM HTTP Server V9.0' installLocation='{{ __ihs_install_location }}'>
    <data key='cic.selector.arch' value='x86_64'/>
    <data key='user.ihs.http.server.service.name' value='none'/>
    <data key='user.ihs.httpPort' value='80'/>
    <data key='user.ihs.installHttpService' value='false'/>
  </profile>
  <install>
    <!-- IBM HTTP Server for WebSphere Application Server 9.0.5.1 -->
    <offering profile='IBM HTTP Server V9.0' id='com.ibm.websphere.IHS.v90' version='{{ __this_version }}' features='core.feature'/>
    <!-- IBM SDK, Java Technology Edition, Version 8 8.0.8.15 -->
    <offering profile='IBM HTTP Server V9.0' id='com.ibm.websphere.IHS.v90' id='com.ibm.java.jdk.v8' version='{{ __java_version }}' features='com.ibm.sdk.8'/>
  </install>
  <preference name='com.ibm.cic.common.core.preferences.eclipseCache' value='${sharedLocation}'/>
  <preference name='offering.service.repositories.areUsed' value='false'/>
</agent-input>
